// ==========================================================================
// TABLES
// ==========================================================================

table {
  width: 100%;
  margin-bottom: $_layout-space;
  border: $_base-tables-border-width solid $_base-tables-border-color;
  line-height: $_base-font-line-height;

  caption {
    font-weight: normal;
    font-style: italic;
    color: $_color-grey;
    margin-bottom: $_base-font-space/2;
  }
}

th,
td {
  padding: _em($_base-tables-padding/2);
  border: $_base-tables-border-width solid $_base-tables-border-color;
}

th {
  font-weight: bold;
  background-color: lighten($_color-grey-light, 5%);
}

tbody {
  tr:nth-child(odd) td {
    background-color: lighten($_color-grey-light, 8%);
  }
}
