// ==========================================================================
// BUTTONS
// ==========================================================================

%reset-buttons {
  display: inline-block;
  background-color: transparent;
  line-height: 1;
  padding: 0;
  border: none;
  vertical-align: middle;
  font-size: _em(($_base-font-size)-4);
  color: inherit;
  transition: all ease .2s;
  position: relative;
  overflow: hidden;
  word-wrap: break-word;
  padding-top: _em($_base-font-size);
  padding-bottom: _em($_base-font-size);
  padding-left: _em($_base-font-space);
  padding-right: _em($_base-font-space);
  margin-top: _em($_base-font-space/3);
  margin-bottom: _em($_base-font-space/3);
  margin-left: _em($_base-font-space/4);
  margin-right: _em($_base-font-space/4);

  @include bp(medium) {
    font-size: _em(($_base-font-size)-2);,
  }

  @include bp(large) {
    font-size: _em($_base-font-size);
  }
}

[class*="c-btn"] {
  @extend %reset-buttons;
  border: 2px solid;
  border-radius: 4em;

  & + &:last-child {
    margin-bottom: _em($_base-font-space/3);
  }
}

.c-btn {
  color: $_color-brand;

  &:hover,
  &:focus {
    color: $_color-brand-dark;
    border-color: $_color-brand;
    background-color: $_color-brand;
  }
}

.c-btn--secondary {
  color: $_color-grey-light;

  &:hover,
  &:focus {
    color: $_color-grey-dark;
    border-color: $_color-white;
    background-color: $_color-white;
  }
}
