/* ==========================================================================
   @icon
   ========================================================================== */

@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
       url('../fonts/iconfont.woff') format('woff'),
       url('../fonts/iconfont.ttf') format('truetype'),
       url('../fonts/iconfont.svg#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

%icon-base {
  font-family: "iconfont";
  display:inline-block;
  vertical-align:middle;
  line-height:1;
  font-weight:normal;
  font-style:normal;
  speak:none;
  text-decoration:inherit;
  text-transform:none;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

$icons: (
  behance: "\EA01",
  error: "\EA02",
  external: "\EA03",
  facebook: "\EA04",
  github: "\EA05",
  googleplus: "\EA06",
  info: "\EA07",
  instagram: "\EA08",
  linkedin: "\EA09",
  mail: "\EA0A",
  pinterest: "\EA0B",
  sharethis: "\EA0C",
  skype: "\EA0D",
  tumblr: "\EA0E",
  twitter: "\EA0F",
  vimeo: "\EA10",
  youtube: "\EA11"
);

[class*="icon--"]:before {
  @extend %icon-base;
}

@each $name, $icon in $icons {
  .icon--#{$name}:before {
    content: $icon;
  }
}