// ==========================================================================
// FOOTER
// ==========================================================================

.m-footer {
  background-color: $_color-black;

  .o-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: _rem(map-get($_layout-grid, gutters));
    flex-direction: column;
    text-align: center;
    font-size: _em(($_base-font-size)-2);

    @include bp(medium) {
      flex-direction: row;
      text-align: left;
    }
  }

  &__copyright {
    width: 50%;
    color: $_color-grey;
    vertical-align: middle;

    &__logo {
      width: _rem(32px);
      height: _rem(32px);
      margin-bottom: _em($_layout-space/2);
      display: inline-block;

      @include bp(medium) {
        margin-bottom: 0;
      }

      svg {
        fill: currentColor;
      }
    }

    &__body {
      padding-left: _em($_layout-space/2);
      display: inline-block;
    }
  }

}
