// ==========================================================================
// HERO
// ==========================================================================

.m-hero {

  &__title {
    font-size: 0.5em;

    @include bp(medium) {
      font-size: .7em;
    }

    @include bp(large) {
      font-size: 1em;
    }
  }

}
