// ==========================================================================
// FOOTER
// ==========================================================================

.m-footer {
  background-color: $_color-black;

  a {
    color: $_color-grey;
  }

  .o-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: _rem(map-get($_layout-grid, gutters));
    flex-direction: column;
    text-align: center;
    font-size: _em(($_base-font-size)-2);

    @include bp(medium) {
      flex-direction: row;
      text-align: left;
    }
  }

  &__copyright {
    width: 50%;
    color: $_color-grey;
    vertical-align: middle;

    &__logo {
      width: _rem(32px);
      height: _rem(32px);
      margin-bottom: _em($_layout-space/2);
      display: inline-block;

      @include bp(medium) {
        margin-bottom: 0;
      }

      svg {
        fill: currentColor;
      }
    }

    &__body {
      padding-left: _em($_layout-space/2);
      display: inline-block;
    }
  }

  &__links {
    padding-top: _em($_layout-space/2);
    padding-bottom: _em($_layout-space/2);

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;

        & + li {
          margin-left: _em($_layout-space/2)
        }

        [class*="icon"]:before {
          margin-right: .3em;
          color: $_color-brand;
        }
      }
    }
  }

}
