// ==========================================================================
// RESPONSIVE
// ==========================================================================

.u-wrapper {
  width: 100%;
  @include clearfix();
  position: relative;
  overflow-x: hidden;
  border: 0;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}
