// ==========================================================================
// RESPONSIVE
// ==========================================================================

.u-wrapper {
  @include clearfix();
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}
