block variables
  include _variables
  
block mixins
  include _mixins

doctype html
html(class='no-js' lang='')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='x-ua-Compatible' content='ie=edge')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      link(href='https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic' rel='stylesheet' type='text/css')
      link(href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css')
      link(href='#{stylesPath}/app.css' media='screen' rel='stylesheet' type='text/css')

  body
    .u-wrapper(id="main-wrapper")
      block main
    block scripts
      include _scripts
