append variables
  - var stylesPath = styles.dest.replace("app/", "../")
  - var scriptsPath = scripts.dest.replace("app/", "../")
  - var mediaPath = media.src.replace("app/", "../")
  - var navSection = ['Work', 'About', 'Contact']
