append variables
  if prod == true
    - var stylesPath = styles.build.replace("build/", "")
    - var scriptsPath = scripts.build.replace("build/", "")
    - var mediaPath = media.dest.replace("build/", "")
  else
    - var stylesPath = styles.dest.replace("app/", "../")
    - var scriptsPath = scripts.dest.replace("app/", "../")
    - var mediaPath = media.src.replace("app/", "../")
  - var appTitle = "David Cazalis"
  - var appDescription = "Portfolio d'un développeur front-end et webdesigner."
  - var appLogo = "http://www.davidcazalis.net/logo.png"
  - var navSection = ['Projets', 'A propos', 'Contact']
  - var contactMail = 'mailto:davidcazalis@gmail.com?subject=Hello.'
  - var projects = ['Monbento', 'Les amis du domaine royale de Randan', 'Euromaster', 'Fidroit']
  - var projectsUrl = ['http://www.monbento.com/appli/', 'http://amisdomainerandan.org/', 'http://www.euromastergroup.com/', 'http://fidroit.fr/']
  - var projectsFiles = ['monbento', 'randan', 'euromaster', 'fidroit']
  - var projectsAgencies = ['De Bussac Multimédia', 'Notorius Studio', 'Periscope Creations', 'Agence 1989']
  - var projectsAgenciesUrl = ['http://www.debussac.net/', 'http://notorius-studio.com/', 'http://periscope.digital/', 'http://1989.agency/']
  - var projectsRoles = ['Front-end', 'Dev & Front-end', 'Front-end', 'Front-end']
  - var quotes = ["David apporte beaucoup à notre équipe. Il est curieux, compétent et doté d'une très bonne culture web. Travailler avec lui est un réel plaisir, et une véritable valeur ajoutée pour nos projets."]
  - var quotesAvatar = ['https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAJ7AAAAJDU5ODMzM2UyLWE3YTMtNGQ1Ni05N2RhLWEwNTczODUxN2MzMA.jpg']
  - var quotesAuthor = ['Julien Fauveau']
  - var quotesAuthorUrl = ['http://www.julienfauveau.com/']
